.doctorPanelOutBox{
    padding: 10px;    
    height: 660px;
    margin: 10px;
    width: 550px;
    
}
.doctorNameSelectBox{
    margin-left: 15px;
}
.doctorDescriptionBox{
    padding: 10px;
    border: 1px solid rgb(204, 199, 199);
    border-radius: 15px;
}
.doctorpanelContainer{
    border: 1px solid #D9D9D9;
    padding: 10px;
    height: 640px;
}
.selectbox{
    width: 200px;
}