.eventPanel {
  width: 550px;
  padding: 10px;
}
.ant-list-empty-text {
  height: 482px;
  background-color: white;
}
.ant-list-item {
  background-color: white;
}
.ant-list-header {
  background-color: rgb(230, 247, 255);
}
.ant-list {
  background-color: #e6f7ff;
  // height: 296px;
}
.ant-comment-inner {
  padding: 3px 0;
}
