.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #40a9ff;
}
.ant-tabs-ink-bar {
  background: #40a9ff;
}
.ant-tabs-tab:hover {
  color: #40a9ff;
}
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active .ant-tabs-tab-remove:active {
  color: #40a9ff;
}
.patient-style {
  font-size: 17px;
  color: blue;
}
.ant-modal-header {
  background-color: #e6f7fe;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #F5F5F5;
}
